XauDisposeAuth.3
XauFileName.3
XauGetAuthByAddr.3
XauGetBestAuthByAddr.3
XauLockAuth.3
XauReadAuth.3
XauUnlockAuth.3
XauWriteAuth.3
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
.libs
libtool
libXau.la
*.lo
ltmain.sh
Makefile
Makefile.in
MakeOut
missing
mkinstalldirs
stamp-h1
xau.pc
